<!DOCTYPE html>
<html>
  <head>
    <title>	THE CRUD </title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>

    <div class="container-fluid">
      <div class="row justify-content-sm-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
          <div class="formWrapper">
            <h2>Edit and Update!</h2>
  
            <% posts.forEach( post => { %>
            <form action="/posts/edit/<%= post._id %>" method="post" class="form" enctype="multipart/form-data">
                <div class="form__field">
                  <label for="item">CURRENT ITEM</label>
                  <input type="text" name="item" id="item" value="<%= post.item %>" required>
                </div>
                <div class="form__field">
                  <label for="price">CURRENT PRICE</label>
                  <input type="text" name="price" id="price" value="<%= post.price %>" required>
                </div>
                <div class="form__field">
                  <label for="price">CURRENT IMAGE</label>
                  <% if (post.file){ %>
                    <picture><img src="<%= post.file.location %>" alt=""></picture>
                  <% }; %> 
                  <input type="file" name="image" />
                </div>
                <div class="submitWrapper form__field--submit">
                  <button id="submit" class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
            <% }); %> 
            
          </div>
        </div>
      </div>
    </div>
    
    <%- include('footer'); %> 