<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>

    <%- include('header'); %>

    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1>Welcome to <%= title %></h1>
          </div>
          <div class="col-xs-12 col-sm-12">
            <p>This is a simple wish list app! <br>Post, edit, delete your list with name of product, price and nice image.</p>
          </div>
          <div class="col-xs-12 col-sm-12">
            <a href="/posts" class="btn btn-primary">Go to post page</a>
          </div>        
        </div>
      </div>
    </div>

    

    <%- include('footer'); %> 
  </body>
</html>