<!DOCTYPE html>
<html>
  <head>
    <title>	THE CRUD </title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>

    <div class="container-fluid">
      <div class="row justify-content-sm-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
          <div class="formWrapper">
            <h2>Add an item to your wishlist!</h2>
  
            <form action="/posts" method="post" class="form" enctype="multipart/form-data">
              <div class="form__field">
                <label for="item">ITEM</label>
                <input type="text" name="item" id="item" required>
              </div>
              <div class="form__field">
                <label for="price">PRICE</label>
                <input type="text" name="price" id="price" required>
              </div>
              <div class="form__field">
                <label for="price">IMAGE</label>
                <input type="file" name="image" />
              </div>
              <div class="submitWrapper form__field--submit">
                <button id="submit" class="btn btn-primary" type="submit">Add</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>

    <% // calculate total value
      let totalVal = 0;
      posts.forEach( post => totalVal += parseInt(post.price) );
    %> 

    <div class="container">
      <div class="filter row">
  
        <div class="filter__search col-xs-12 col-sm-6">
          <form action="/posts/search" method="post" id="search-form">
            <div class="form__field">
              <label for="search">SEARCH</label>
              <input type="text" name="search" id="search">
            </div>
          </form>
        </div>
  
        <div class="filter__total col-xs-12 col-sm-6">
          <div class="total__item">Total Item: <%= posts.length %></div>
          <div class="total__cost">Total Value: <%= totalVal.toLocaleString('en') %> Yen</div>
        </div>
  
      </div>
    </div>

    <div class="wishlist container">
      <ul class="wishlist__ul row">
      <% posts.forEach(post => { %>

        <li class="wishlist__li col-xs-12 col-sm-6 col-md-4">
          <div class="wishlist__liInner">
            <a href="/posts/<%= post._id %>" class="wishlist__textBlock">
              <h3><%= post.item %></h2>
              <p><%= parseInt(post.price).toLocaleString('en') %> Yen</p>
            </a>
            <div class="wishlist__modify">
              <a href="/posts/edit/<%= post._id %>" 
                class="wishlist__btn wishlist__btn--edit">
                  <i class="material-icons">mode_edit</i>
              </a>
              <a href="javascript:void(0)" 
                data-id="<%= post._id %>"
                class="wishlist__btn wishlist__btn--delete">
                  <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </li>

      <% }); %>
      </ul>
    </div>
    
    <%- include('footer'); %> 