<!DOCTYPE html>
<html>
  <head>
    <title>	WISHMAN </title>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('header'); %>

    <% // calculate total value
      let totalVal = 0;
      posts.forEach( post => totalVal += parseInt(post.price) );
    %> 


    <% posts.forEach(post => { %>

      <div class="single-display">
        <picture><img src="<%= post.image %>" alt=""></picture>
        <div class="single-display__txtbox">
          <h2><%= post.item %></h2>
          <p><%= parseInt(post.price).toLocaleString('en') %> Yen</p>
        </div>

        <div class="sigle-display__settingBox">
          <a href="/posts/edit/<%= post._id %>" 
            class="single-display__btn single-display__btn--edit">
              <i class="material-icons">mode_edit</i>
          </a>
          <a href="javascript:void(0)" 
            data-id="<%= post._id %>"
            class="single-display__btn single-display__btn--delete">
              <i class="material-icons">delete</i>
          </a>
        </div>
      </div>

    <% }); %>
    
    <%- include('footer'); %> 